doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if currentUser
      div.header
        p
          a(href='/') Home
        p
          a(href='/create-message') Create Message
        p
          a(href='/log-in') Log Out
        p
          a(href='/join-club') Join Club
        p
          a(href='/join-admin') Become Admin
    else 
      div.header
        p
          a(href='/') Home
        p
          a(href='/log-in') Log In
        p
          a(href='/sign-up') Sign Up
    block content
